body {
  background-color: #2b19b2;
  font-family: "Open+Sans", sans-serif;
  margin: auto;
  width: 75%;
  text-align: center;
}

.text-heading {
  font-size: 3em;
  color: #f5f2eb;
}
.text-sub {
  font-size: 1.5em;
  color: #b0adc5;
}
.text-base {
  font-size: 2em;
  color: #f5f2eb;
}

#actionButton {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 10px;
  color: #f5f2eb;
  font-size: 2em;
  background: #86a2ba;
  padding: 7px 22px 7px 22px;
  text-decoration: none;
}

#actionButton:hover {
  background: #587be1;
  text-decoration: none;
}
